html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black; 
  color: white;
  font-family: 'Inconsolata', monospace;
  overflow: hidden;
}

#bottom-bar {
  padding: 1rem;
  width: 100%;
  text-align: center;
  opacity: 10%;
  transition: opacity 0.2s linear;
}
#bottom-bar:hover {
  opacity: 100%;
  transition: opacity 0.2s linear;
}

#extra-controls button {
  background: black;
  color: white;
  border: solid #CCC 1px;
  font-family: 'Inconsolata', monospace;
}

#status {
  font-size: small;
}
